/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /Users/u0096023/Dropbox/【2021】/【專案】/04TTSW/sass/tts_C_purple.scss

Backtrace:
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:484:in `read'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/u0096023/.rbenv/versions/2.3.7/lib/ruby/gems/2.3.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/u0096023/.rbenv/versions/2.3.7/bin/compass:22:in `load'
/Users/u0096023/.rbenv/versions/2.3.7/bin/compass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /Users/u0096023/Dropbox/【2021】/【專案】/04TTSW/sass/tts_C_purple.scss"; }
